<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.musicfx">
    
    <!-- CRITICAL: Remove Compatibility Redirector component entirely -->
    <!-- This kills the internal redirector that hands off to Sony -->
    <activity
        android:name=".Compatibility$Redirector"
        tools:node="remove" />
    
    <!-- CRITICAL: Force ActivityMusic intent-filter to highest priority (1000) -->
    <!-- This makes ActivityMusic the "must-win" candidate for Equalizer intents -->
    <!-- Using tools:node="merge" with tools:replace to override priority -->
    <activity
        android:name=".ActivityMusic"
        tools:node="merge">
        <intent-filter
            android:priority="1000"
            tools:replace="android:priority">
            <action android:name="android.media.action.DISPLAY_AUDIO_EFFECT_CONTROL_PANEL" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
</manifest>

